/* gls padding && margin */

$sizes: (
  2xs: 0.25rem, /* 4px */
  xs: 0.5rem, /* 8px */
  sm: 0.75rem, /* 12px */
  base: 1rem, /* 16px */
  md: 1.125rem, /* 18px */ 
  lg: 1.25rem, /* 20px */
  xl: 1.5rem, /* 24px */
  2xl: 2rem, /* 32px */
  3xl: 2.5rem, /* 40px */
  4xl: 3rem, /* 48px */
);

/** 
* quasar size:
*   xs: 4px => 2xs
*   sm: 8px => xs
*   md: 16px => base
*   lg: 24px => xl
*/

@each $prop, $abbrev in (margin: m, padding: p) {
    @each $key, $val in $sizes {
      .gls-#{$abbrev}-#{$key} {
        #{$prop}: $val;
      }
      .gls-#{$abbrev}t-#{$key} {
        #{$prop}-top: $val;
      }
      .gls-#{$abbrev}r-#{$key} {
        #{$prop}-right: $val;
      }
      .gls-#{$abbrev}b-#{$key} {
        #{$prop}-bottom: $val;
      }
      .gls-#{$abbrev}l-#{$key} {
        #{$prop}-left: $val;
      }
      .gls-#{$abbrev}x-#{$key} {
        #{$prop}-left: $val;
        #{$prop}-right: $val;
      }
      .gls-#{$abbrev}y-#{$key} {
        #{$prop}-top: $val;
        #{$prop}-bottom: $val;
      }
    }
  }